* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
}

/* sidebar  */

.sidebar {
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 30px;
    position: sticky;
    top: 40px;
}

/* profile */
.profile {
    text-align: center;
    color: #e0e0e0;
}

.profile img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
}

.profile p {
    color: #ffbf00;
    padding: 5px 15px;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* contact  */
.contact {
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding: 30px 0px;
}

.label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #a0a0a0;
}

.value {
    color: #e0e0e0;
    text-decoration: none;
}

.email,
.phone {
    margin-bottom: 10px;
}

/* social media */
.social {
    border-top: 2px solid #3a3a3a;
    padding: 20px 0px;
    text-align: center;
}

.social img {
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    /* filter: brightness(0) saturate(100%) invert(55%) sepia(11%) saturate(620%) hue-rotate(152deg) brightness(92%) contrast(91%); */
    transition: filter 0.3s ease;
}

.social img:hover {
    filter: none;
}

/* main contact section  */
.main-content {
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 0px 40px;
}

/* navigation bar */
#nav-bar {
    padding: 30px 40px;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

}

nav a {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffbf00;
}

.active {
    color: #ffbf00;
}

/* about me */

.heading {
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line {
    width: 50px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}

.content {
    text-align: justify;
    color: #a0a0a0;

}

#about-me {
    margin-bottom: 35px;
}

/* skill section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
}

.item {
    padding: 20px;
    text-align: center;
    background-color: #1e1e1e;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    margin-top: 20px;
}

.item img {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: scale(1.1);
    /* transform: translateX(2rem); */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.item h4 {
    font-size: 1rem;
    font-weight: 500;
}

/* education section */
#education {
    margin-top: 20px;
}

.ed-tech {
    position: relative;
    margin-top: 20px;
}


.ed-first,
.ed-second {
    margin-bottom: 25px;
    padding-left: 25px;
    position: relative;
}

.year {
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree {
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college {
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work {
    color: #a0a0a0;
}

.circle {
    height: 15px;
    width: 15px;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    top: 5px;
    left: 0;
}

.circle-line {
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 6px;
    border: 2px solid #3a3a3a;
}

/* Portfolio section */
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 35px;
}

.project {

    background-color: #1e1e1e;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, boxshadow 0.5s ease;
}

.project:hover {
    cursor: pointer;
    transform: translateY(-6px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.project img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.project-link{
    text-decoration: none;
}

.project-link:hover{
    color: white;
    text-decoration: underline;

}

.card {
    padding: 20px;
}

.card h3 {
    color: #e0e0e0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.card p {
    color: #a0a0a0;
    margin-bottom: 15px;
}

.card span {
    background-color: rgba(255, 191, 0, 0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;

}

@media screen and (max-width:1200px) {
    .main-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar {
        position: static;
        height: auto;
    }
}

@media screen and (max-width: 750px) {
    .project-container {
        grid-template-columns: 1fr;

    }

    #nav-bar {
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-right: 20px;
    }

    .main-content {
        margin-right: 20px;
    }

    .sidebar .social {
        margin-top: 30px;
        padding-top: 40px;
    }

    .sidebar .social img {
        margin-top: 15px;
    }

}